@using TeamplateHotel.Controllers
@{
    var company = CommentController.DetailCompany();
}
<div class="f-width">
    <div class="left">
        <a href="/" title="@company.Name"><img src="@company.Logo" alt="@company.Name"></a>
    </div><!--end left-->
    <div class="right">
        <div class="hotline">
            <div id="ol-sp">
                @Html.Partial("Comment/OnlineSupport")
            </div>
            <div id="w-hotline">
                <div>
                    <div>Hotline: <h3>@company.Hotline</h3></div>
                    <div>Email: <a href="mailto:@company.Email">@company.Email</a></div>
                </div>    
            </div>
            <div class="clearfix"></div>
        </div>
        <!--end hotline-->
    </div><!--end right-->
</div>